<div class="fr-follow">
    <div class="fr-container">
        <div class="fr-grid-row">
            <div class="fr-col-12">
                <div class="fr-follow__social">
                    <p class="fr-h5">Suivez-nous<br> sur les réseaux sociaux</p>
                    <ul class="fr-btns-group">
                        <li>
                          <%= render partial: "layouts/decidim/social_media_links" %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="fr-footer" role="contentinfo" id="footer">
  <div class="fr-container">
    <div class="fr-footer__body">
      <div class="fr-footer__brand fr-enlarge-link">
        <a href="/" title="Retour à l’accueil du site - <%== t("layouts.decidim.header.official_name_title") %>">
          <p class="fr-logo" title="République française"><%== t("layouts.decidim.header.official_name") %></p>
        </a>
      </div>
      <div class="fr-footer__content">
        <p class="fr-footer__content-desc"><%= t("layouts.decidim.footer.made_with_open_source").html_safe %></p>
        <ul class="fr-footer__content-list">
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" target="_blank" href="https://legifrance.gouv.fr">legifrance.gouv.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" target="_blank" href="https://gouvernement.fr">gouvernement.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" target="_blank" href="https://service-public.fr">service-public.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" target="_blank" href="https://data.gouv.fr">data.gouv.fr</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="fr-footer__bottom">
      <ul class="fr-footer__bottom-list">
        <% organization_pages = current_organization.static_pages_accessible_for(current_user) %>
        <% if organization_pages.any? %>
          <% current_organization.static_page_topics.where(show_in_footer: true).each do |page_topic| %>
            <% topic_pages = page_topic.accessible_pages_for(current_user) %>
            <% if topic_pages.any? %>
              <li class="fr-footer__bottom-item"><%= link_to translated_attribute(page_topic.title), decidim.page_path(topic_pages.first), :class => 'fr-footer__bottom-link' %></li>
            <% end %>
          <% end %>

          <% organization_pages.where(show_in_footer: true).each do |page| %>
            <li class="fr-footer__bottom-item"><%= link_to translated_attribute(page.title), decidim.page_path(page), :class => 'fr-footer__bottom-link' %></li>
          <% end %>
          <li class="fr-footer__bottom-item"><a href="#consentement" class="fr-footer__bottom-link">Gestion des cookies</a></li>
        <% end %>
        <li class="fr-footer__bottom-item"><%= link_to t("layouts.decidim.footer.download_open_data"), decidim.open_data_download_path, :class => 'fr-footer__bottom-link' %></li>
      </ul>
      <div class="fr-footer__bottom-copy">
        <p>Sauf mention contraire, tous les contenus de ce site sont sous <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank">licence etalab-2.0</a></p>
      </div>
    </div>
  </div>
</footer>