<%
if respond_to?(:current_component) && current_component && can_be_managed?(current_component)
  edit_link(
    manage_component_path(current_component),
    :read,
    :component,
    component: current_component,
    current_participatory_space: current_participatory_space
  )
end
%>

<header role="banner" class="fr-header">
  <%= link_to t("skip_button", scope: "decidim.accessibility"), url_for(anchor: "html-block"), class: "skip" %>
  <div class="fr-header__body">
    <div class="fr-container">
        <div class="fr-header__body-row">
            <div class="fr-header__brand fr-enlarge-link">
                <div class="fr-header__brand-top">
                    <div class="fr-header__logo">
                        <p class="fr-logo">République<br>française</p>
                    </div>
                    <div class="fr-header__navbar">
                        <button class="fr-btn--search fr-btn" data-fr-opened="false" aria-controls="modal-476" id="button-477" title="Rechercher">
                            Rechercher
                        </button>
                        <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-478" aria-haspopup="menu" id="button-479" title="Menu">
                            Menu
                        </button>
                    </div>
                </div>
                <div class="fr-header__service">
                    <a href="/" title="Accueil - [À MODIFIER - Nom du site / service] - [À MODIFIER - nom de l’entité (ministère, secrétariat d‘état, gouvernement)]">
                        <p class="fr-header__service-title">Partenariat pour un gouvernement ouvert</p>
                    </a>
                </div>
            </div>
            <div class="fr-header__tools">
                <div class="fr-header__tools-links">
                    <ul class="fr-btns-group">
                        <li>
                            <% if current_organization.sign_up_enabled? %>
                            <%= link_to t("layouts.decidim.header.sign_up"), decidim.new_user_registration_path, class: "fr-btn fr-icon-lock-line" %>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to t("layouts.decidim.header.sign_in"), decidim.new_user_session_path, class: "fr-btn fr-icon-account-line" %>
                        </li>
                    </ul>
                </div>
                <div class="fr-header__search fr-modal" id="modal-476">
                    <div class="fr-container fr-container-lg--fluid">
                        <button class="fr-btn--close fr-btn" aria-controls="modal-476" title="Fermer">
                            Fermer
                        </button>
                        <div class="fr-search-bar" id="search-475" role="search">
                            <label class="fr-label" for="search-475-input">
                                Rechercher
                            </label>
                            <input class="fr-input" placeholder="Rechercher" type="search" id="search-475-input" name="search-475-input">
                            <button class="fr-btn" title="Rechercher">
                                Rechercher
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="fr-header__menu fr-modal" id="modal-478" aria-labelledby="button-479">
    <div class="fr-container">
        <button class="fr-btn--close fr-btn" aria-controls="modal-478" title="Fermer">
            Fermer
        </button>
        <div class="fr-header__menu-links">
        </div>
        <nav class="fr-nav" id="navigation-480" role="navigation" aria-label="Menu principal">
            <ul class="fr-nav__list">
              <%= main_menu.render %>
            </ul>
        </nav>
    </div>
  </div>
</header>

<script>
window.addEventListener("DOMContentLoaded", (event) => {

    let links = document.getElementsByClassName("fr-nav__item")
    for (let link of links) {
        let test = link.getElementsByTagName("a")
        test[0].classList.add("fr-nav__link")
    }
});
</script>

<div class="off-canvas-wrapper" id="app">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <div class="off-canvas position-right hide-for-large" data-position="right"
         id="offCanvas" data-off-canvas>
      <!-- Close button -->
      <button class="close-button"
              aria-label="<%= t("layouts.decidim.header.close_menu") %>" type="button"
              data-close>
        <span aria-hidden="true">&times;</span>
      </button>
      <!-- Menu -->
      <div class="hide-for-medium" data-set="nav-holder"></div>
      <div class="hide-for-medium usermenu-off-canvas-holder"
           data-set="nav-login-holder"></div>
      <div class="hide-for-medium mt-s ml-s mr-s search-off-canvas-holder"
           data-set="nav-search-holder"></div>
    </div>
    <div class="off-canvas-content" data-off-canvas-content>
      <div class="footer-separator">
        <!--separates the footer from the rest of the page,
             creates a sticky footer-->
        <!-- Topbar -->

        <main>
          <%= display_flash_messages %>
          <%= yield %>
        </main>
      </div>
      <%= render partial: "layouts/decidim/main_footer" %>
    </div>
  </div>
</div>
